<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wang.clock">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".main.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.DbTestActivity" />
        <activity android:name=".activity.ClockActivity" />

        <!--<service android:name="com.wang.clock.service.TimeUpdateService" />-->

        <receiver
            android:name=".receiver.ClockReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.wang.intent.ClockReceiver" />
            </intent-filter>
        </receiver>

    </application>

</manifest>